<body>
    <div class="container" 
    style="padding-top: 30px;
    padding-bottom: 15px;"
>
        <table class="table table-dark table-hover text-center border border-dark">
            <thead>
                <tr>
                    <th>Currency</th>
                    <th>Balance</th>
                    <th>Value in USD</th>
                    <th>Value in BTC</th>
                    <th>Value per unit</th>
                    <th>Previous day</th>
                    <th>% Change</th>
                </tr>
            </thead>
            <tbody>
                {{#each portfolio}}
                <tr>
                    <td>{{> name this}}</td>
                    <td>{{> balance this}}</td>
                    <td>${{> worthInUSD this}}</td>
                    <td>{{> accBTCValue this}}</td>
                    <td>{{> lastPrice this}}</td>
                    <td>{{> previousDay this}}</td>
                    <td>{{> percentChange this}}%</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</body>