<body>
    <div class="container" 
    style="padding-top: 30px;
    padding-bottom: 15px;"
>
        <table class="table table-dark table-hover text-center border border-dark">
            <thead>
                <tr>
                    <th>Currency</th>
                    <th>Balance</th>
                    <th>Value in USD</th>
                    <th>Value in BTC</th>
                </tr>
            </thead>
            <tbody>
                {{#each portfolio}}
                <tr>
                    <td>{{> name this}}</td>
                    <td>{{> balance this}}</td>
                    <td>$</td> <!-- TODO pass bitcoin price into table and multiply with balance--> 
                    <td>{{btcPrice}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</body>